@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.container{
    display: flex;
    justify-content: space-around;
    margin-left: 15em;
    margin-right: auto;
    width: 40em;
}

.input{
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.3em;
    width: 15em;
    height: 2em;
    border-radius: 15px;
    border: 3px solid black;
    font: bold;
    color: white;
    background-color: rgb(55,112,53);
    outline: none;
    text-align: center;
}

.boton{
    background-color: rgb(70,164,218);
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.3em;
    height: 2em;
    width: 6em;
    border-radius: 5em;
    transition: 0.25s;
}
.boton:hover{
    cursor: pointer;
    background-color: rgb(51, 121, 161);
    transition: 0.25s;
}